.nav-link{
    color: #060000;
}
.nav-link:hover{
    color: #006241;
}
.nav-link-2,.nav-link-2:hover{
    color: black;
    border: 1px solid black;
    border-radius: 500px;
}
.nav-link-1{
    color: white;
}
.nav-link-1:hover{
    color: #D4E9E2;
    background-color: #000000;
}
